body {
    color: white;
    background-color: #0a0a0a;
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="8" height="8" fill="none" stroke="rgb(255 255 255 / 0.08)"><path d="M0 .5H31.5V32"/></svg>'); /* background squares*/
    margin: 0;
    padding: 0;
}

#main-page-margin {
    width: 85%;
    margin: 2em auto;
    padding: 0 1em;
}

p {
    color: #d4d3d8;
    line-height: 1.6;
}

.green-gradient-lr {
    background: linear-gradient(to right, #11853b, #47db7a, #47db7a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Mobile first layout */
#navigation {
    position: sticky;
    top: 0;
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}

#navigation.scrolled {
    background-color: rgba(10, 10, 10, 0.95);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#navigation nav {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}

/* mobile burger menu */
.burger-menu {
    display: block;
    width: 2em;
    height: 2em;
    margin: 2em;
    z-index: 1000;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 2em;
    background: white;
    border-radius: 3px;
    transition: .25s ease-in-out;
}

.burger-menu span:nth-child(1) {
    top: 1.5em;
}

.burger-menu span:nth-child(2) {
    top: 2em;
}

.burger-menu span:nth-child(3) {
    top: 2.5em;
}

/* Burger menu animation when active */
.burger-menu.active span:nth-child(1) {
    top: 2em;
    transform: rotate(135deg);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    top: 2em;
    transform: rotate(-135deg);
}

#navigation nav ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

#navigation.active nav ul {
    display: flex;
    background-color: rgba(10, 10, 10, 0.95);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#navigation nav ul li {
    margin: 1em 0;
    text-align: center;
}

#navigation nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em 1em;
    display: block;
    transition: color 0.3s ease;
}

#navigation nav ul li a:hover {
    color: #47db7a;
    background-color: transparent;
}

section {
    margin: 10em 0;
}

/* intro section - job, name, profile image, links*/
#intro-section {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    min-height: 90vh;
}

#intro-description h2 {
    font-size: 1em;
    margin-bottom: 1.5em;
}

#intro-description h1 {
    font-size: 3em;
    letter-spacing: 0.05em;
    margin: 0;
    margin-bottom: 0.5em;
}

#image-reference-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25em;
}

#profile-image {
    display: block;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    max-height: 20em;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    filter: brightness(0) invert(0.8);
}

.icon {
    width: 1.8em;
    height: 1.8em;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.section-title {
    font-size: 2.4em;
    text-align: left;
}

/* Projects section */
#my-projects {
    margin-bottom: 4em;
}

/* Project cards */
.project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 24em;
    font-size: 0.875em;
    background-color: #0a0a0a;
    border: 1px solid #404041;
    border-radius: 8px;
    padding: 2em;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project:hover {
    border: 1px solid #23c457;
}

.project-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project h4 {
    margin-bottom: 0.5em;
}

.project-header h3 {
    margin: 0;
}

.project-title div {
    color: #d4d3d8;
}

.project-header img {
    width: 3em;
    height: 3em;
    border: 2px solid #37363b;
    border-radius: 25px;
    margin-right: 1em;
}

.project-features {
    min-height: 8em;
}

.project-features ul {
    color: #d4d3d8;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
    gap: 10px;
}

.project-features ul li:before {
    color: #26c45f;
    content: '➤';
    margin-right: .5em;
}

.project-links {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 1em;
    margin-top: auto;
}

.project-links a {
    text-decoration: none;
    color: #FFFFFF;
}

.project-link {
    font-size: 0.9em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #404041;
    border-radius: 8px;
    padding-inline: 1em;
    transition: border 0.3s ease, color 0.3s ease;
}

.project-link:hover {
    border: 1px solid #23c457;
    color: #23c457;
}

.project-link img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    fill: currentColor;
    transition: transform 0.3s ease;
}

.project-link:hover img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(60%) saturate(1231%) hue-rotate(113deg) brightness(80%) contrast(100%);
}

.tech-stack-items {
    height: 4.5em;
    overflow-y: hidden;
    font-size: 0.875em;
    color: #d4d3d8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5em;
    padding: 0.5em;
    margin: 1em 0;
}

.tech-used {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.tech-used img {
    width: 1em;
    height: 1em;
    filter: brightness(0) invert(0.5);
}

/* About Me section */
#about-me {
    margin-bottom: 4em;
}

#about-me ul {
    color: #d4d3d8;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2.5em;
}

#about-me div {
    display: flex;
    align-items: center;
}

#about-me img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    filter: brightness(0) saturate(100%) invert(50%) sepia(60%) saturate(1231%) hue-rotate(113deg) brightness(80%) contrast(100%);
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.technology {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 3em;
    padding: 0.5em 1em;
    border: 1px solid #404041;
    border-radius: 8px;
    top: 0;
    transition: top 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.technology:hover {
    top: -10px;
    border: 1px solid #23c457;
}

.technology:hover > img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(60%) saturate(1231%) hue-rotate(113deg) brightness(80%) contrast(100%);
}

.technology > div {
    font-size: 0.9em;
}

.technology > div > div:nth-child(2) {
    font-size: 0.8em;
    margin-top: 0.5em;
    color: #d4d3d8;
    overflow: hidden;
}

.technology > img {
    filter: brightness(0) invert(0.5);
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

/* Footer - contact me + links */
footer {
    text-align: center;
}

footer .section-title {
    text-align: center;
}

footer .icons {
    font-size: 2em;
    margin-bottom: 3em;
}

footer a {
    font-size: 0.5em;
    color: #d4d3d8;
    text-decoration: none;
}

/* Tablet/Notebook breakpoint */
@media (min-width: 760px) {
    #main-page-margin {
        width: 80%;
    }

    .burger-menu {
        display: none;
    }

    #navigation {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0.5em 0;
        width: 100%;
        transition: all 0.3s ease;
    }

    #navigation nav {
        width: 100%;
        height: auto;
        position: static;
    }

    #navigation nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: static;
        width: auto;
        height: auto;
    }
    
    #navigation nav ul li {
        margin: 0 1.5em;
        width: auto;
    }
    
    #navigation nav ul li a {
        padding: 0.5em 0;
        position: relative;
        font-size: 1.2em;
    }
    
    #navigation nav ul li a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #47db7a;
        transition: width 0.3s ease;
    }
    
    #navigation nav ul li a:hover::after {
        width: 100%;
    }

    #main-page-margin {
        margin-top: 5em;
    }
    
    #intro-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    
    #intro-description {
        flex: 1;
    }
    
    #intro-description h2 {
        font-size: 1.2em;
    }
    
    #intro-description h1 {
        font-size: 5em;
    }
    
    #image-reference-section {
        flex: 1;
        margin-left: 2em;
        margin-top: 0;
    }
    
    #profile-image {
        max-width: 100%;
        height: 15em;
    }

    .icon {
        width: 1.8em;
        height: 1.8em;
    }

    .project-grid {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }

    .project {
        font-size: 0.9em;
    }

    .tech-stack-items {
        font-size: 1em;
    }

    #about-me p {
        display: inline-block;
        width: 60%;
        vertical-align: middle;
        margin-right: 1em;
    }

    #about-me > div {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        margin-left: 1em;
    }
}

/* Desktop breakpoint */
@media (min-width: 1024px) {
    #main-page-margin {
        width: 80%;
    }

    #intro-description h2 {
        font-size: 1.8em;
        margin-top: 0;
        margin-bottom: 1em;
    }
    
    #intro-description h1 {
        font-size: 8em;
    }
    
    .icon {
        width: 2em;
        height: 2em;
    }

    .section-title {
        font-size: 3em;
    }

    #about-me p {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
        margin-right: 1em;
    }

    #about-me > div {
        display: inline-block;
        width: 20%;
        margin-left: 1em;
    }
}

/* Large Desktop breakpoint */
@media (min-width: 1440px) {
    #main-page-margin {
        width: 65%;
    }
    
    #intro-description h1 {
        font-size: 9em;
    }

    #profile-image {
        max-width: 25em;
        height: 30em;
    }

    #about-me p {
        width: 65%;
    }

    #about-me > div {
        width: 30%;
    }

    section {
        font-size: 1.2em;
    }

    footer {
        font-size: 1.2em;
    }

    .project-header img {
        border-radius: 100px;
    }
}